@import 'a11y.css/sass/utils/functions';
@import 'a11y.css/sass/utils/variables';

*:focus {
	background: transparentize(theme-conf('error', 'color'), .9) !important;
	color: theme-conf('error', 'color') !important;
	outline: 2px dotted currentcolor !important;
}
